<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @film.title %>
</p>

<p>
  <b>Url:</b>
  <%= @film.url %>
</p>


<p>
  <b>Genre:</b>
  <%= @film.genre.title if @film.genre %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
